
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" verbose="5" >
    <test name="ModelTest" >
        <classes >
            <class name="Model.CategoryTest" />
            <class name="Model.LongTaskTest" />
            <class name="Model.PunctualTaskTest" />
            <class name="Model.TaskTest" />
        </classes >
    </test>
</suite>
